.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #ebe9e9 transparent;
}

.question-modal > div:nth-child(2) {
  background-color: #ebe9e9;
}
