/* .recipes-container::-webkit-scrollbar-thumb {
  background-color: rgb(43, 200, 228);
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.recipes-container::-webkit-scrollbar {
  width: 20px;
}

.recipes-container::-webkit-scrollbar-track {
  margin: 20px;
} */
.recipes-list {
  grid-template-columns: repeat(auto-fill, minmax(510px, 1fr));
  /* font-family: "Poppins", sans-serif; */
}
