.item1 {
  flex: 0 0 50%;
}

.item2 {
  flex: 0 0 50%;
}

.item3 {
  flex: 1 1 150px;
}

.item4 {
  flex: 1 1 calc(100%-150px);
}

.item1,
.item3 {
  background-color: red;
}

.ingredients-icons-text > label {
  font-weight: 600;
  font-size: 17px;
}

.recipe-image {
  background-color: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  display: block;
  object-fit: cover;
}
