#welcome-section {
  background-color: #affafa;
  background: linear-gradient(to bottom, #affafa 90%, #90e0ff 98%);

}

.welcome-section-background {
  /* margin: -400px auto 0; */
  right: 0px;
  transform: translateX(50%);
  min-width: 70%;
  height: 85%;
  background: linear-gradient(to right, #7676c2 20%, #2abcda 85%);
}

.welcome-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.welcome-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 20px);
  height: 23vh;
}

.welcome-wave .shape-fill {
  /* fill: #c2c5f5; */
  /* background: linear-gradient(#e66465, #29a3bb); */
}
.mix-title {
  /* color: linear-gradient(90, #020024 0%, #090979 28%, #0d9cb9 100%); */
  background: linear-gradient(to right, #6c6cee 20%, #1bc8eb 70%);
  font-weight: 600;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
