.switch {
  width: 60px;
  height: 30px;
  background-color: #e9e8e8;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  margin-top: 5px;
}

.handle {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  transition: left 0.3s;
}

.switch[data-ison="false"] .handle {
  background-color: rgb(71, 70, 70);
}

.switch[data-ison="true"] {
  background-color: #1b0329;
}

.switch[data-ison="true"] .handle {
  left: 32.5px;
}

.light-dark-svg {
  font-size: 20px;
  transition: all 0.17s;
  top: 50%;
  transform: translateY(-50%);

  /* dont trigger on double click */
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.switch[data-ison="true"] .light-dark-svg:nth-child(1) {
  opacity: 0;
}
.switch[data-ison="true"] .light-dark-svg:nth-child(2) {
  opacity: 1;
}
.switch[data-ison="false"] .light-dark-svg:nth-child(1) {
  opacity: 1;
}
.switch[data-ison="false"] .light-dark-svg:nth-child(2) {
  opacity: 0;
}

/*

  WELCOME SECTION DARK MODE

*/

.welcome-section-darkMode {
  background: linear-gradient(to bottom, #4B70F5 90%, #293788 98%);
}

.welcome-section-darkMode h1 {
  color: rgb(233, 222, 222);
}

.welcome-section-darkMode .mix-title {
  background: linear-gradient(to right, #64ec64 20%, #59f3c0 70%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.welcome-section-darkMode p {
  color: rgb(226, 213, 213);
}

.welcome-section-darkMode a {
  background-color: #6048e7;
  color: white;
  font-weight: 600;
}

.welcome-section-darkMode span {
  color: #000000;
}

.welcome-section-darkMode a i {
  color: rgb(255, 255, 255);
}

.welcome-section-darkMode a:hover {
  background-color: #523cce;
}

.welcome-section-darkMode img {
  filter: brightness(75%);
}

/*

  DETAILS SECTION DARK MODE

*/

.website-details-section-darkMode {
  background-color: #293788;
}

.website-details-section-darkMode .details {
  background-color: #516eec;
}

.website-details-section-darkMode .details h3 {
  color: black;
}

.website-details-section-darkMode .details img {
  filter: brightness(85%);
}

.website-details-section-darkMode .details p {
  color: rgb(0, 0, 0);
}

/*

  DETAILS SECTION DARK MODE

*/

.ingredients-section-darkMode .ingredients-img {
  filter: brightness(70%);
}

.ingredients-section-darkMode .ingredients-filter-container {
  background-color: rgba(2, 17, 85, 0.356);
  color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
}

/*

  RECIPES SECTION DARK MODE

*/

.recipes-section-darkMode {
  /* background-color: #71b8bd; */
  background-color: #11376d;
  /* background-color: #a2b4ee; */
}

.recipes-section-darkMode .recipe-container {
  /* background-color: #f1e7cd; */
  background-color: #576CBC;
}

.recipes-section-darkMode img {
  filter: brightness(80%);

}

.footer-darkMode {
  background-color: #0962e8;
}
